*{margin: 0;
  padding: 0;
box-sizing: 0;}

body {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        box-sizing: border-box;
        }

.cabecalho {background-color: #FF914D;
              width: 100%;
                height: 6rem;
                  margin-top: 0.1rem;
                    
                    border-left: 0.01rem solid black;
                    border-right: 0.01rem solid black;
                    position: fixed;
                    z-index:1 ;
                    transition: top 0.3s ease-in-out;
                    }

.mini-titulo {background: beige;
                display: flex;}

.mini-titulo h1 { font-size: 0.9em;
      margin-left: 39%;
        color: #5CE1E6;
          }

.mini-titulo img { width: 1em;
                    margin-left: 0.1em;}

.logo img { width: 5em;
              margin-left: 23%;
                margin-top: 0.1rem}

.buscar { margin-top: -3rem;
            margin-left: 35%;
              }

.buscar input { border-radius: 2rem;
                  border: 0.9px solid #5CE1E6;
                    width: 25rem;
                      height: 1.5rem;
                      text-align: center;
                        }

.buscar button img {width: 1.4rem;
                      margin-bottom: -0.3em;
                      margin-left: 0.1em;
                      transform: scaleX(-1)
                  }

.buscar button {width: 1.4rem;
  height: 1.4rem;
  margin-bottom: 0.8em;
  margin-left: -2.2em;
  border: none;
  background: none;
  cursor: pointer;
  }

.buscar button:hover {border: none;
                          background: none;}

.nav { margin-left: 39%;
        margin-top: -1.7rem;}

.nav ul {
            list-style: none;
              display: inline;
                display: flex;
                  margin-left: 5rem;
                    margin-top: -1.5rem;}

.nav li a { text-decoration: none; 
            margin-left: 0.9rem;
              color: rgb(35, 35, 35);
            font-size: 0.8rem;}

.nav li img { width: 1rem;
} 

.cabecalho-2 {background-color: #FF914D;
  width: 100%;
    height: 1.5em;;
    border-left: 0.01em solid black;
    border-right: 0.01em solid black;
      margin-top: 5.9em;
        }

      
.dropdown {
          position: relative;
          display: inline-block;
          margin-left: 24%
      }
      
      /* Estilos para o botão */
      .dropbtn {
          background-color: transparent;
          color: white;
          padding: 12px;
          font-size: 0.1em;
          border: none;
          cursor: pointer;
      }

      .dropbtn img {width: 13em;
                      margin-top: -7.6em;
                    }
      
      /* Estilos para o conteúdo do dropdown (itens) */
      .dropdown-content {
          display: none;
          position: absolute;
          background-color:#5CE1E6;
          border: 0.01em solid black;
          border-radius: 0.3em;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          margin-top: -0.65em;
          margin-left: -0.9em;
      }
      
      /* Estilos para os links dentro do dropdown */
      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }
      
      /* Mudança de cor do link ao passar o mouse */
      .dropdown-content a:hover {
          background-color:#FF914D;
          border: 0.01em solid black;
      }
      
      /* Mostrar o dropdown ao passar o mouse sobre ele */
      .dropdown:hover .dropdown-content {
          display: block;
      }
      
      .dropdown:hover .dropdown-content a {
        display: block;
        font-size: 0.8em;
    }
      
      /* Mudança de cor do botão ao passar o mouse sobre ele */
      .dropdown:hover .dropbtn {
          background-color: transparent
      }

.nav3 {margin-left: 29%;
  margin-top: -2em;
}

.nav3 ul {list-style: none;
            display: inline;
              display: flex;}

.nav3 li a { text-decoration: none;
              list-style: none;
                font-size: 0.69em;
                  margin-left: 4em;
                  color: black
                    }

.carousel-container {
                      width: 100%;
                      height: 100vh;
                      overflow: hidden;
}
                    
.carousel-wrapper {
                      display: flex;
                      transition: transform 0.5s ease;
}
                    
.carousel-slide {
                  width: 100%;
                    height: 100%;
                      object-fit: cover;
                        opacity: 0.7;
                    }

.cadastro {margin-left: 15em;
            font-family: Arial, Helvetica, sans-serif;
              font-size: 0.9em;
                margin-top: 2em;
             }

.divsoria1 {border-right: 0.09em solid #5CE1E6;
            margin-right: 60em;
            height: 15em;
              margin-top: -15em;
              }
          
.cadastro input  {border: 0.04em solid #5CE1E6;
                   border-radius: 0.4em;
                   
                    }



.cadastro input:hover  {border: 0.04em solid #FF914D;
                    border-radius: 0.4em;
                    transition: border-color: 0.3s, color 0.3s;
                  }
 

.titulo1{ font-size: 1.2em;
            margin-left: 12em;
              margin-top: 6em;
                }               
                
.button {width: 5.5em;
          background: #FF914D;
            }

.buttonS {width: 8.9em;
            background: #FF914D;
            border: 0.03em solid;
              border-radius: 0.3em;}

                                   /*fim cadastro*/

.login {margin-left: 47em;
              font-family: Arial, Helvetica, sans-serif;
                font-size: 0.9em;
                    margin-top: 2.3em;
                                     }
                        
.divsoria2 {border-right: 0.09em solid #5CE1E6;
             margin-right: 29em;
              height: 15em;
                margin-top: -13em;
                                      }
                                  
.login input  {border: 0.04em solid #5CE1E6;
                                           border-radius: 0.4em;}
                        
.login input:hover  {border: 0.04em solid #FF914D;
                                            border-radius: 0.4em;}
                         
                        
.titulo2{ font-size: 1.2em;
             margin-left: 37em;
                margin-top: -9.9em;
                                        }
                                /*fim login*/

.titulo3{ font-size: 1.2em;
           margin-left: 60em;
            margin-top: -9.5em;
             }

.recuperar {margin-left: 80em;
                    font-family: Arial, Helvetica, sans-serif;
                      font-size: 0.9em;
                        margin-top: 2.9em;
                                       }             

.recuperar input {border: 0.04em solid #5CE1E6;
                                        border-radius: 0.4em;}
                     
.recuperar input:hover  {border: 0.04em solid #FF914D;
                                         border-radius: 0.4em;}

.rodape {background: #5CE1E6;
  width: 100%;
  height: auto;
    border-top: 0.01em solid #FF914D;
      }

.rodape img    {width: 50%;
                margin-left: 27%;
                  margin-top: -30%;
                }

.rodape h2 { font-family: Arial, Helvetica, sans-serif;
                  font-size: 0.98em;
                    color:#666565;
                        margin-left: 40%;
                        margin-top: 1em;}

.rodape h4 { font-family: Arial, Helvetica, sans-serif;
              font-weight: -10em;
              font-size: 0.9em;
                  color:#666565;
                      margin-left: 42%;
                        margin-top: 1em}

.rodape a {text-decoration: none;
            color: #666565;
                margin-left: 3%;
                  font-weight: 40em;
                  }

.nav-left ul {text-align: left;
                  list-style: none;
                margin-left: -0.2%;}


.nav-esquerda li { margin-bottom: 0.9em;}

.rodape p:first-of-type{ color: #666565;
              font-size: 0.8em;
                text-align: center;                     
                padding-left: 75%;}

.rodape p:first-of-type + p { color: #666565;
                                font-size: 0.8em;
                                  padding-left: 80%;
                                    }

.rodape p:first-of-type + p + p {color: #666565;
                                    font-size: 0.8em;
                                    margin-left: 82.5%;} 

.titulo-sobre {margin-bottom: 1%;}

.titulo-sobre h1 { text-align: center;
                  margin-top: 1em;
                  margin-bottom: 5%;
                    }      
                    
.titulo-sobre p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.1em;
                  margin-left:1em;
                  margin-right: 1em;
                    }